{% extends 'main/base.html' %}
{% block title %}List of Events {% endblock %}
{% block content %}
    <h1>List of the events</h1>
    <form method="GET" action="/eventslist/"> {% csrf_token %}
        <input type="search" name="searchBar" placeholder="Search an event by name"> <button name="searchBtn" type="submit">Search</button> 
    </form>
    <div class="container">
        {% if items %}
        {% for i in items %}
        <div class="list-group">
            <a href="/{{ i.id }}" class="list-group-item list-group-item-action">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ i.name }}</h5>
                <small>typ eventu</small>
              </div>
              <p class="mb-1" style="text-align:left">krotki opis</p>
              <small>Created by {{ i.user }}</small>
            </a>
          </div>
          <br>
        {% endfor %}
        {% else %}
        <p>Curently no events</p>
        {% endif %}
    </div>
{% endblock %}
