{% extends 'main/base.html' %}
{% block title %}{{ item.name }}{% endblock %}
{% block content %}
    {% if messages %}
        {% for message in messages %}
                <div class="alert alert-warning" role="alert" style="text-align:left">
                    {{ message }}
                  </div>
        {% endfor %}
    {% endif %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
          <h1 class="display-4 font-weight-normal">{{ item.name }}</h1>
          <p class="lead font-weight-normal">{{ item.shortDescription }}</p>
            {% if events_items.user != user.get_username %}
                Interested? Take part to stay up to date. In order to do it press here!<form method="post" action="" name="participate">
                {% csrf_token %}
                <br><button name="btnParticipate" type="submit" class="btn btn-outline-secondary">Participate</button></form>
            {% endif %}
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
      </div>
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
          <h2 class="display-5">Description</h2>
        </div>
        <div class="bg-light box-shadow mx-auto text-dark" style="width: 80%; min-height:300px; border-radius: 21px 21px 0 0;">
            <br>
            <p class="text-break">{{ item.description|safe }}</p>
        </div>
      </div>
      <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 p-3">
          <h2 class="display-5">Information about the event</h2>
          <p class="lead"></p>
        </div>
        <div class="bg-light box-shadow mx-auto text-dark" style="width: 80%; min-height: 300px; border-radius: 21px 21px 0 0;">
            <br>
            <p class="lead">Takes place in: {{ item.country }}, {{ item.city }} <br> {{ item.address }}</p>
            <p class="lead">When will the event take place: {{ item.date }}</p>
        </div>
      </div>
      <br>
        <h1>Comment Section</h1>
        <br>
        <form method="post" action="" name="addComment">
            {% csrf_token %}
                <div class="input-group">
                   <textarea class="form-control" id="textAreaExample5" rows="3" name="text"></textarea>
                </div> <br>
                <button name="btnComment" type="submit" class="btn btn-outline-secondary">Add an comment</button> 
            </form>
        <br>
        <div class="commentSection">
            {% if comments %}
                {% for i in comments %}
                <div class="container">
                    <div class="list-group">
                        <ul class="list-group">
                            <li class="list-group-item list-group-item-dark">
                                <div class="d-flex w-100 justify-content-between">
                                  <h5 class="mb-1">{{ i.user }}</h5>
                                  <small>{{ i.commentData }}</small>
                                </div>
                                <p class="mb-1" style="text-align:left">{{ i.text }}</p><br>                            
                                {% if i.user == user.get_username%}
                                  <a href="/removeComment/{{ i.eventId }}" style="color:red">Delete a comment</a>
                                {% else %}
                                {% endif %}
                          </li>
                        </ul>
                      </div>
                      <br>
                </div>
                {% endfor %}
            {% else %}
                <p>Currently no comments on this event</p>
            {% endif %}
        </div>
{% endblock %}
